body {
	font-family: "montserrat-1", "montserrat-2", sans-serif;
}

.container {
	margin: 0 auto;
}

.banner-wrapper {
	background-color: #f5f5f5;
	color:  #333;
	padding: .25rem;
}

.logo-title {
	font-weight: 400;
}

.logo {
	float: left;
	padding-right: 1rem;
	width: 5rem;
}

.logo-words {
	padding-top: 1rem;
	vertical-align: middle;
}

/* Global Navigation */
nav ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

nav a {
  display: block;
  padding: .5rem 0;
	text-decoration: none;
}

footer {
	background-color: #000;
	color: #FFF;
}

@media screen and (min-width: 43.75rem) { /* 700px */
/* Global Navigation */
  nav ul {
  	text-align: right;
  }
	nav li {
		display: inline-block;
		padding-right: 1.5rem;
	}
}